:root {
    /* control left margin of all content in sidebar-right */
    --margin-left: 2rem;
}

body {
    margin: 0;
}


.container-grid {
    display: grid;
    grid-template-columns: minmax(250px, 35%) 1fr;
  }

.sidebar-left, .sidebar-right {
    /* border: 1px solid red; */
    height: 100vh;
}

.sidebar-left {
    background-image: url("images/background.jpg");
    background-color: #cccccc;
    width:  100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



/* .header-left-container {
    margin: 33% 0 0 0;
    background-color: black;
    padding: 4em;

} */

.header-left {
    margin: 14.70rem 0 0 0;
    display: grid;
    place-items: center;


    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;

    height: 6rem;

    font-family: 'Press Start 2P', cursive;
}

.sidebar-right-container {
    display: grid;
    grid-template-rows: 1fr 0.85fr 1fr;
    flex-wrap: wrap;
}

.txt, .button-container {
    background-color: grey;
}

.txt-top  {
    margin: 7rem 5rem 1rem var(--margin-left);

}

.txt-bottom {
    margin: 1rem 5rem 1.5rem var(--margin-left);

}

p, label, button, h1 {
    font-family: 'Roboto', sans-serif;
}

.form-container {
    display: flex;
    
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
}

.sign-up {
    box-shadow: 5px 10px 8px -5px #000000;
}

h1{
    margin-top: 1rem;
}

.form-left, h1, .txt-button {
    margin-left: var(--margin-left);
}

.form-right {
    margin-left: 4rem;
}

label, input {
    margin-bottom: 0.5rem;
}

.txt, .button-container {
    background-color: #F5F5F5;
}

button {
    margin-top: 2rem;
    margin-left: var(--margin-left);
    padding: 1em;
    background-color: rgb(4, 27, 4);
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

